<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit user's info</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form action="/put-crud" method="POST">
                    <div class="form-row">
                        <div class="col-12 mt-3"><b>Edit User</b></div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault01">First name</label>
                            <input type="text" class="form-control" name="firstname" value="<%=user.firstName %>" placeholder="fistName" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationDefault02">Last name</label>
                            <input type="text" class="form-control" name="lastname" value="<%=user.lastName%>" placeholder="lastName" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault03">Address</label>
                            <input type="text" class="form-control" name="address" value="<%=user.address%>" placeholder="address" />
                        </div>
                    </div>
                    <input name="id" value="<%=user.id%>" type="text" hidden />
                    <button class="btn btn-primary" type="submit">
              Update Information
            </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>